body {
    font: 14px/1.8 나눔바른펜, 나눔바른펜, 나눔바른펜;
}

.frame {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    border: 1px solid lightgray;
}*{
     margin: 0;
     padding: 0;
     list-style: none;
     text-decoration: none;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }
.container{
    width: 1000px;
    margin: 0 auto;
}
table, th, td{
    border-collapse:collapse;
}
.header{
    background: #ffffff;
    width: 100%;
    height: 45px;
}
.header .main-header{
    overflow: hidden;
}
.header .sub-header{
    background: #f2f2f2;
    border-top: 1px solid #e1e1e1;
    border-bottom: 3px solid #503396;
    padding: 15px 0;
}
.header .sub-header .title a h3{
    color: #503396;
    font-size: 18px;
}
.header .main-header nav.gnb{
    float: right;
    width: 100%;
}
.header .main-header nav.gnb ul li.nav-item{
    float: left;
    padding: 12px 35px;
    border-left: 1px solid #e5e5e5;
    width: 33.33%;
    text-align: center;
}
.header .main-header nav.gnb ul li.nav-item:hover a.nav-link{
    color: #198591;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.header .main-header nav.gnb ul li.nav-item:last-child{
    border-right: 1px solid #e5e5e5;
}
.header .main-header nav.gnb ul li.nav-item a.nav-link{
    color: #000;
    font-size: 16px;
    font-weight: bold;
    font-family: NanumGothic, 나눔고딕, "Malgun Gothic", "맑은 고딕", dotum, 돋움, "Apple SD Gothic Neo", sans-serif;
}
.header .main-header nav.gnb ul li#actvie a .nav-link{
    color: #198591;
}
section.movie-schedule{
    padding-top: 150px;
    text-align: center;
}
.logo {
    font-size: 2em;
    font-weight: bold;
    background: #f7cac9;
    color: #fff;
    display: inline-block;
    padding: 0 8px;
}
.logo a {
    text-decoration: none;
    color: white;
}

.container {
    padding-left: 0;
    overflow: hidden;
}

.container-fluid {
    padding-left: 0;
}

.nav {
    display: inline-block;
    text-align: center;
    width: 998px;
    margin: 0;
    padding: 0;
    height: 50px;
    background: aliceblue;
    color: #f7cac9;
}

.nav-list {
    width: 800px;
    list-style: none;
    margin-left: 180px;
    padding: 5px 0;
}

.nav_right {
    position: absolute;
    left: 102%;
    width: 140px;
    height: 290px;
    background: #f7cac9;
    margin-top: 20px;
}

.nav_right-link {
    color: #b163a3;
    padding: 4px 10px;
    text-decoration: none;
}

.nav_right-item:hover {
    color: #f7cac9;
    background-color: #ebebe9;
}

.nav_right-list {
    list-style: none;
    padding: 0 5px;
}

.nav_right-item {
    margin: 20px 0;
}


.nav-item {
    display: inline;
    margin: 4px 0;
}

.nav-link {
    text-align: center;
    margin-left: 8px;
    display: inline-block;
    text-decoration: none;
    padding: 4px 10px;
    color: #f7cac9;
}

.nav-link:hover {
    color: #ffffff;
    background: skyblue;
}

.inner-content {
    width: 1000px;
    margin: 0 auto;
    border-bottom: 1px solid gray;
}

.inner-content-imgs {
    width: 100%;
    height: 100%;
}

.view {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background-color: black;
    width: 100%;
    height: 100%;
}

.view a {
    display: inline-block;
    width: 150px;
    height: 50px;
    text-decoration: none;
    line-height: 50px;
    margin-top: 10px;
    text-align: center;
    color: white;
    border: 1px solid white;
}

.view a:nth-child(1) {
    margin-top: 100px;
}

.content {
    float: left;
    color: black;
}

.content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.content ul li {
    position: relative;
    float: left;
    margin-top: 30px;
    margin-right: 20px;
    width: 230px;
    height: 330px;
}

.content ul li:hover .view {
    opacity: 0.5;
    transition: 0.7s;
}

.content ul li:nth-child(4n) {
    margin-right: 0;
}

.content ul li:nth-child(1) {
    margin-left: 10px;
}

.content ul li:nth-child(4n+1) {
    margin-left: 10px;
}
ul{
    overflow: hidden;
    text-align: center;
}
ul li{
    float: left;
    width: 20%;
}
.seat-container ul li a:focus img{
    border: 3px solid #198591;
}
ul li a img{
    width: 250px;
    height: 350px;
}
footer{
    background: #333;
    width: 100%;
    position: fixed;
    bottom: 0;
}
footer .container{
    position: relative;
}
footer .address{
    padding: 30px 0 15px 0;
}
footer .address h1{
    font-size: 18px;
    color: #ffffff;
    opacity: 0.5;
    line-height: 28px;
}
footer nav.gnb{
    overflow: hidden;
}
footer nav.gnb ul li.var{
    width: 1px;
    font-size: 20px;
}
footer nav.gnb ul li{
    float: left;
    padding: 5px 10px 5px 0;
    width: 86px;
}
footer nav.gnb{
    padding-bottom: 15px;
}
footer nav.gnb ul li a{
    color: #ffffff;
    opacity: 0.5;
    font-size: 20px;
    font-family: NanumGothic, 나눔고딕, "Malgun Gothic", "맑은 고딕", dotum, 돋움, "Apple SD Gothic Neo", sans-serif;
}
footer nav.gnb ul li.var p{
    color: #ffffff;
    opacity: 0.7;
    font-family: NanumGothic, 나눔고딕, "Malgun Gothic", "맑은 고딕", dotum, 돋움, "Apple SD Gothic Neo", sans-serif;
}
footer .sns-area{
    overflow: hidden;
    position: absolute;
    right: 50px;
    top: 25px;
}
footer .sns-area ul li{
    float: left;
    padding:  25px 35px 0 35px;
}
footer .sns-area ul li a i {
    width: 65px;
    height: 65px;
    background: gray;
    border-radius:50px;
    text-align: center;
    padding-top: 18px;
    font-size: 28px;
    color: #000000;
}
footer .sns-area ul li.facebook:hover a i{
    color: #0f60c9;
}
footer .sns-area ul li.twitter:hover a i{
    color: #00cdeb;
}
footer .sns-area ul li.instagram:hover a i{
    color: #ea5722;
}
footer .sns-area ul li.message:hover a i{
    color: #ffd913;
}



